
.login-box {
	width: 400px;
	margin: 50px auto;
}
.login-form {
	margin-top: 30px;
}
.pull-right {
	float: right;
	width: 58px;
	line-height: 30px;
	border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;
	text-align: center;
}
.list-title {
	text-align: center;
	font-size: 16px;
}
.head-box {
	height: 50px;
	width: 1140px;
	margin: 0px auto;
}