link(href="/libs/layui/dist/css/layui.css", rel="stylesheet")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="#{url}", rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/layui/dist/layui.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")